{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->
{% block title %} Post {% endblock title %}
{% block content %}
    <h1>Все Новости</h1>
    <h3>{{ time_now }}</h3>
   <!--- <h3> {{ value1|default_if_none:"ничего" }} </h3> -->
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Дата публикации
                </td>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.name|censor }} <!-- применим наш фильтр, чтобы название товара вывелось 4 раза -->
                </td>
                <td>
                    {{ post.description|truncatewords:50|censor }}
                </td>
                <td>
                    {{ post.category.name }}
                </td>
                <td>
                    {{ post.time }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}